<!--  -->
{% extends 'base.html' %} {% block title %}Home - PatrickWide{% endblock %}

<!--  -->
{% block content %}

<!-- Include Header -->
{% include 'header.html' %}

<!-- Blog Section -->
<section class="container mx-auto mt-8 px-2" id="myBlogs">
  <div class="flex justify-center">
    <div class="w-full md:w-2/3">
      <h2 class="text-3xl font-bold mb-4 text-white">My Blogs</h2>

      <div class="bg-gray-800 rounded-lg shadow-lg p-6">
        <!-- Blog Posts -->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
          {% for blog in data['blogs'] %}
          <article
            class="flex-1 bg-gray-900 text-white rounded-lg overflow-hidden shadow-lg pt-6"
          >
            <img
              src='{{ blog["image"] }}'
              alt='{{ blog["title"] }}'
              class="rounded-t-lg w-full h-auto mb-2"
            />
            <div class="p-4">
              <h3 class="text-xl font-bold mb-2">{{ blog["title"] }}</h3>
              <p class="text-gray-400 mb-2">{{ blog["publishedDate"] }}</p>
              <p class="text-gray-500 overflow-hidden whitespace-normal h-24">
                {{ blog["content"] }}
              </p>
              <a
                href='{{ blog["readMoreLink"] }}'
                class="text-blue-500 hover:underline"
                target="_blank"
                rel="noopener noreferrer"
                >Read More</a
              >
            </div>
          </article>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Include Footer -->
{% include 'footer.html' %}

<!--  -->
{% endblock %}
